.background {
    opacity: 0.2;
}

.cabecalho {
    background: olive;
    position: fixed;
    width: 960px;
    height: 70px;
    left: 140px;
    top: 20px;
    z-index: 0;
    opacity: 0.85;
}

#logo {
    opacity: 1;
}

.logotipo {
    position: absolute;
    top: 10px;
    left: 80px;
    z-index: 1;
}

.arbustos {
    position: absolute;
    top: 30px;
    left: 200px;
}

.orquideas {
    position: absolute;
    top: 30px;
    left: 400px;
}

.palmeiras {
    position: absolute;
    top: 30px;
    left: 600px;
}

.mostrador {
    background: white;
    position: absolute;
    width: 960px;
    height: 550px;
    top: 110px;
    left: 140px;
}

.product1 {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 140px;
    left: 150px;
    border-style: solid;
    border-color: greenyellow;  
}

#tag {
    position: relative;
    top: -150px;
    left: 250px;
    z-index: 1;
}

#link {
    position: relative;
    top: -90px;
    left: 35px;
    z-index: 1;
}

.product2 {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 140px;
    left: 470px;
    border-style: solid;
    border-color: greenyellow;
}
.product3 {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 140px;
    left: 790px;
    border-style: solid;
    border-color: greenyellow;
}
.product4 {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 310px;
    left: 150px;
    border-style: solid;
    border-color: greenyellow;
}
.product5 {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 310px;
    left: 470px;
    border-style: solid;
    border-color: greenyellow;
}
.product6 {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 310px;
    left: 790px;
    border-style: solid;
    border-color: greenyellow;
}
.product7 {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 480px;
    left: 150px;
    border-style: solid;
    border-color: greenyellow;
}
.product8 {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 480px;
    left: 470px;
    border-style: solid;
    border-color: greenyellow;
}
.product9 {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 480px;
    left: 790px;
    border-style: solid;
    border-color: greenyellow;
}