.container {
    width: 500px;
    height: 500px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    /*align-content: center;*/
    border: steelblue solid 4px;
    vertical-align: middle;


}

.item {
    background-color: aqua;
    width: 500px;
    height: 100px;
    border: brown solid 2px;
}

.item1 {
    order: 1;
    flex-grow: 1;
}

.item2 {
    order: 2;
    flex-grow: 3;
}

.item2 {
    order: 3;
    flex-grow: 2;
}


/*
    flex-direction: column; /* column-reverse, row, row-reverse (row default
    flex-wrap: wrap; /*nowrap, wrap-reverse (quebra a linha)
    justify-content: flex-start;/*flex-end, center, space-between, space-around
    align-items: center;/*flex-end, flex-start, stretch
    align-content: center;/*flex-end, flex-start, stretch
*/